@use '../../../../../../styles/variables.scss';

.timer {
	text-align: center;
	&__value {
		font-weight: 500;
		&_danger {
			color: variables.$guardsmanRed;
			animation: pulse 1s infinite forwards;
		}
		&_stop {
			color: variables.$guardsmanRed;
			animation: none;
		}
	}
}

@keyframes pulse {
	0% {
		transform: scale(1);
	}
	25% {
		transform: scale(1.25);
	}
	50% {
		transform: scale(1);
	}
	75% {
		transform: scale(0.75);
	}
	100% {
		transform: scale(1);
	}
}
