.game {
	&__info {
		display: flex;
		gap: 2rem;
		align-items: center;
		justify-content: space-between;
		@media (max-width: 600px) {
			flex-wrap: wrap;
			justify-content: center;
		}
	}

	&__text {
		text-align: center;
	}
}
