@use './variables.scss';
@use './mixins';

.srOnly {
	position: absolute;

	overflow: hidden;

	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;

	white-space: nowrap;

	clip-path: inset(50%);
	border: 0;
}

.main {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 100%;
	min-height: 100vh;
	padding: 2rem 0;
}

.section {
	padding: 10rem 0;
	&__title {
		@include mixins.largeFontSize();

		font-weight: 700;
		text-align: center;
	}
}

.container {
	max-width: 100rem;
	margin: 0 auto;
	padding: 0 1.5rem;
}

.button {
	padding: 0.75rem 2rem;

	font-weight: 500;
	color: variables.$lavenderWeb;

	background-color: variables.$deepSpaceSparkle;
	border-radius: 3rem;

	transition: background-color 0.15s;
	@media (min-width: 992px) {
		&:hover {
			background-color: variables.$eden;
		}
		&:active {
			opacity: 0.5;
		}
	}
}
