@use './variables.scss';
@use './mixins';

.srOnly {
	position: absolute;

	overflow: hidden;

	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;

	white-space: nowrap;

	clip-path: inset(50%);
	border: 0;
}

.section {
	padding: 3rem 0;
}

.container {
	max-width: 100rem;
	margin: 0 auto;
	padding: 0 1.5rem;
}

.button {
	padding: 0.75rem 3rem;

	font-weight: 500;
	color: variables.$lavenderWeb;

	background-color: variables.$surfieGreen;
	border-radius: 3rem;

	transition: background-color 0.15s, opacity 0.15s;
	@media (min-width: 992px) {
		&:hover {
			background-color: variables.$jungleGreen;
		}
		&:active {
			opacity: 0.7;
		}
	}
}
