@use '../../../../../styles/mixins.scss';

.gameOver {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 8rem;
	&__text {
		@include mixins.largeFontSize();

		text-align: center;
		&:not(:first-child) {
			margin-top: 1rem;
		}
	}

	&__link {
		user-select: none;
		align-self: center;
		margin-top: 5rem;
	}

	&__difficulty {
		margin-top: 3rem;
	}
}
