@use '../../../styles/mixins.scss';

.home {
	&__container {
		display: flex;
		flex-direction: column;
	}

	&__text {
		&_withIndent {
			text-indent: 5rem;
		}

		&_bold {
			font-weight: 500;
		}

		&_big {
			@include mixins.largeFontSize();
		}

		&_center {
			text-align: center;
		}

		&:not(:first-of-type) {
			margin-top: 2rem;
		}
	}

	&__link {
		user-select: none;
		align-self: center;
		margin-top: 5rem;
	}
}
